<template>
  <q-page class="flex flex-center">
    <span class="label bg-amber" v-if="!ar_mode">
      <span class="left-detail">scan</span> a letter [a,b,c,d]
    </span>
    <!--adverts grid diplay when not in ar mode-->
      <template v-if="!ar_mode">
        <div class="grid" style="margin:auto;width:90%;">
          <div v-for="n in 5" :key="n">
            <div class="grid-item">
              <img src="/statics/assets/img/add_space.png" />
            </div>
            <div class="grid-item">
              <img src="/statics/assets/img/add_space_.png" />
            </div>
            <div class="grid-item">
              <img src="/statics/assets/img/add_space.png" />
            </div>
          </div>
        </div>
      </template>
 <!--floating action button to close the ar mode-->
      <q-page-sticky position="top-left" :offset="[18, 18]" style="z-index:1" v-if="ar_mode">
        <q-btn round color="red lighten-2" @click="CloseAR" icon="close" />
      </q-page-sticky>
      <!--fab bottom left-->
      <q-page-sticky position="bottom-right" :offset="[18, 18]" style="z-index:1" v-if="!ar_mode">
         <q-btn
            @click="ScanWithCamera"
            round
            color="accent"
            glossy
            icon="camera_alt"/>
      </q-page-sticky>
  </q-page>
</template>
<!--ar_video-->
<script src='/statics/assets/libs/ar_video/three.js'></script>
<!-- include jsartookit -->
<script src="/statics/assets/libs/ar_video/artoolkit.min.js"></script>
<script src="/statics/assets/libs/ar_video/artoolkit.api.js"></script>
<!-- include threex.artoolkit -->
<script src="/statics/assets/libs/ar_video/threex-artoolkitsource.js"></script>
<script src="/statics/assets/libs/ar_video/threex-artoolkitcontext.js"></script>
<script src="/statics/assets/libs/ar_video/threex-arbasecontrols.js"></script>
<script src="/statics/assets/libs/ar_video/threex-armarkercontrols.js"></script>
<!--masonry-->
<script src="/statics/assets/libs/masonry/masonry.pkgd.min.js"></script>
<!--imagesloaded-->
<script src="/statics/assets/libs/imagesLoaded/imagesloaded.pkgd.min.js"></script>

<script>
var scene, camera, renderer, clock, deltaTime, totalTime
var arToolkitSource, arToolkitContext
var markerRoot0,markerRoot1,markerRoot2,markerRoot3,markerRoot4,markerRoot5,markerRoot6,markerRoot7,markerRoot8,markerRoot9
var mesh0,mesh1,mesh2,mesh3,mesh4,mesh5,mesh6,mesh7,mesh8,mesh9

function initialize () {
  scene = new THREE.Scene()
  totalTime = totalTime + 0
  let ambientLight = new THREE.AmbientLight(0xcccccc, 0.5)
  scene.add(ambientLight)
  camera = new THREE.Camera()
  scene.add(camera)
  renderer = new THREE.WebGLRenderer({
    antialias: true,
    alpha: true
  })
  renderer.setClearColor(new THREE.Color('lightgrey'), 0)
  renderer.setSize(640, 480)
  renderer.domElement.style.position = 'absolute'
  renderer.domElement.style.top = '0px'
  renderer.domElement.style.left = '0px'
  renderer.domElement.style.zIndex  = '-1'
  document.body.appendChild(renderer.domElement)

  clock = new THREE.Clock()
  deltaTime = 0
  totalTime = 0

  /// /////////////////////////////////////////////////////////
  // setup arToolkitSource
  /// /////////////////////////////////////////////////////////

  arToolkitSource = new THREEx.ArToolkitSource({
    sourceType: 'webcam'
  })

  function onResize () {
    arToolkitSource.onResize()
    arToolkitSource.copySizeTo(renderer.domElement)
    if (arToolkitContext.arController !== null) {
      arToolkitSource.copySizeTo(arToolkitContext.arController.canvas)
    }
  }

  arToolkitSource.init(function onReady () {
    onResize()
  })

  // handle resize event
  window.addEventListener('resize', function () {
    onResize()
  })

  /// /////////////////////////////////////////////////////////
  // setup arToolkitContext
  /// /////////////////////////////////////////////////////////

  // create atToolkitContext
  arToolkitContext = new THREEx.ArToolkitContext({
    cameraParametersUrl:
      '../statics/assets/libs/ar_alphabet/patterns_data/camera_para.dat',
    detectionMode: 'mono'
  })

  // copy projection matrix to camera when initialization complete
  arToolkitContext.init(function onCompleted () {
    camera.projectionMatrix.copy(arToolkitContext.getProjectionMatrix())
  })

  //add the markers to the scene
  //0
  markerRoot0 = new THREE.Group()
  scene.add(markerRoot0)
  let markerControls0 = new THREEx.ArMarkerControls(
    arToolkitContext,
    markerRoot0,
    {
      type: 'pattern',
      patternUrl: '../statics/assets/libs/ar_alphabet/patterns_data/a.patt'
    }
  )
  //1
  markerRoot1 = new THREE.Group()
  scene.add(markerRoot1)
  let markerControls1 = new THREEx.ArMarkerControls(
    arToolkitContext,
    markerRoot1,
    {
      type: 'pattern',
      patternUrl: '../statics/assets/libs/ar_alphabet/patterns_data/b.patt'
    }
  )
  //2
  markerRoot2 = new THREE.Group()
  scene.add(markerRoot2)
  let markerControls2 = new THREEx.ArMarkerControls(
    arToolkitContext,
    markerRoot2,
    {
      type: 'pattern',
      patternUrl: '../statics/assets/libs/ar_alphabet/patterns_data/c.patt'
    }
  )
  //3
  markerRoot3 = new THREE.Group()
  scene.add(markerRoot3)
  let markerControls3 = new THREEx.ArMarkerControls(
    arToolkitContext,
    markerRoot3,
    {
      type: 'pattern',
      patternUrl: '../statics/assets/libs/ar_alphabet/patterns_data/d.patt'
    }
  )

  //add texture images
  let geometry0 = new THREE.PlaneBufferGeometry(2,2, 4,4);
  let loader0 = new THREE.TextureLoader();
  let texture0 = loader0.load( '../statics/assets/libs/ar_alphabet/patterns_image/a.gif', render );
  let material0 = new THREE.MeshBasicMaterial( { map: texture0 } );
  mesh0 = new THREE.Mesh( geometry0, material0 );
  mesh0.rotation.x = -Math.PI/2;
  markerRoot0.add( mesh0 );
  //
  let geometry1 = new THREE.PlaneBufferGeometry(2,2, 4,4);
  let loader1 = new THREE.TextureLoader();
  let texture1 = loader1.load( '../statics/assets/libs/ar_alphabet/patterns_image/b.gif', render );
  let material1 = new THREE.MeshBasicMaterial( { map: texture1 } );
  mesh1 = new THREE.Mesh( geometry1, material1 );
  mesh1.rotation.x = -Math.PI/2;
  markerRoot1.add( mesh1 );
  //
  let geometry2 = new THREE.PlaneBufferGeometry(2,2, 4,4);
  let loader2 = new THREE.TextureLoader();
  let texture2 = loader2.load( '../statics/assets/libs/ar_alphabet/patterns_image/c.gif', render );
  let material2 = new THREE.MeshBasicMaterial( { map: texture2 } );
  mesh2 = new THREE.Mesh( geometry2, material2 );
  mesh2.rotation.x = -Math.PI/2;
  markerRoot2.add( mesh2 );
  //
  let geometry3 = new THREE.PlaneBufferGeometry(2,2, 4,4);
  let loader3 = new THREE.TextureLoader();
  let texture3 = loader3.load( '../statics/assets/libs/ar_alphabet/patterns_image/d.gif', render );
  let material3 = new THREE.MeshBasicMaterial( { map: texture3 } );
  mesh3 = new THREE.Mesh( geometry3, material3 );
  mesh3.rotation.x = -Math.PI/2;
  markerRoot3.add( mesh3 );

}

function update () {
  if(arToolkitSource!=null){
    // update artoolkit on every frame
    if (arToolkitSource.ready !== false) {
      arToolkitContext.update(arToolkitSource.domElement)
    }
  }
}

function render () {
  if(renderer!=null){
    renderer.render(scene, camera)
  }
}

function animate () {
  requestAnimationFrame(animate)
  deltaTime = clock.getDelta()
  totalTime += deltaTime
  update();
  render();
}

export default {
  name: 'alphabet',
  data() {
    return {
      ar_mode:false
      }
  },
  methods: {
    //use camera to scan AR object and init the scene
    ScanWithCamera: function () {
      if(!this.ar_mode){//only run if not already an instance
        this.ar_mode=true;
        initialize();
        animate();
      }
    },
    //close the ar and return to the normal diplay
    //destroy the ar objects
    CloseAR: function() {
      arToolkitSource.close()//stop the video stream and remove the dom element
      this.ar_mode=false;
      this.initMasonry()
    },
    //init the masonry for the adverts
    initMasonry: function () {
      imagesLoaded('.grid', function() {
          var elem = document.querySelector('.grid');
          var msnry = new Masonry( elem, {
          // options
          itemSelector: '.grid-item',
          columnWidth: 100,
          gutter:0,
          horizontalOrder: false,
          percentPosition: true,
          originTop: false,
          stagger: 30
        });
      });
    }
  },
  mounted: function () {
    this.initMasonry()
  },
}
</script>
