<template>
  <q-page class="flex flex-center">
    <span class="label bg-amber" v-if="!ar_mode">
      <span class="left-detail">scan</span> a beverage
    </span>
    <template>
      <!--video for ar-->
      <video
        id="video"
        loop
        crossOrigin="anonymous"
        webkit-playsinline
        style="display:none"
      >
        <source
        src="/statics/assets/raw/coke.ogv"
          type='video/ogg; codecs="theora, vorbis"'
        />
        <source
          src="/statics/assets/raw/coke.mp4"
          type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
        />
      </video>

      <!--adverts grid diplay when not in ar mode-->
      <template v-if="!ar_mode">
        <div class="grid" style="margin:auto;width:90%;">
          <div v-for="n in 5" :key="n">
            <div class="grid-item">
              <img src="/statics/assets/img/add_space.png" />
            </div>
            <div class="grid-item">
              <img src="/statics/assets/img/add_space_.png" />
            </div>
            <div class="grid-item">
              <img src="/statics/assets/img/add_space.png" />
            </div>
          </div>
        </div>
      </template>
      <!--floating action button to close the ar mode-->
      <q-page-sticky position="top-left" :offset="[18, 18]" style="z-index:1" v-if="ar_mode">
        <q-btn round color="red lighten-2" @click="CloseAR" icon="close" />
      </q-page-sticky>
      <!--fab bottom left-->
      <q-page-sticky position="bottom-right" :offset="[18, 18]" style="z-index:1" v-if="!ar_mode">
         <q-btn
            @click="ScanWithCamera"
            round
            color="accent"
            glossy
            icon="camera_alt"/>
      </q-page-sticky>
    </template>
  </q-page>
</template>

<style>
img{
  max-width: 100px;height: auto;
  border: 1px solid black;
   -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
  block-size: auto;
  writing-mode: horizontal-tb;
}
@media (max-width: 768px) {
  .item {
    position: relative !important;
    left: auto !important;
    top: auto !important;
  }
}
</style>

<!--ar_video-->
<script src='/statics/assets/libs/ar_video/three.js'></script>
<!-- include jsartookit -->
<script src="/statics/assets/libs/ar_video/artoolkit.min.js"></script>
<script src="/statics/assets/libs/ar_video/artoolkit.api.js"></script>
<!-- include threex.artoolkit -->
<script src="/statics/assets/libs/ar_video/threex-artoolkitsource.js"></script>
<script src="/statics/assets/libs/ar_video/threex-artoolkitcontext.js"></script>
<script src="/statics/assets/libs/ar_video/threex-arbasecontrols.js"></script>
<script src="/statics/assets/libs/ar_video/threex-armarkercontrols.js"></script>
<!--masonry-->
<script src="/statics/assets/libs/masonry/masonry.pkgd.min.js"></script>
<!--imagesloaded-->
<script src="/statics/assets/libs/imagesLoaded/imagesloaded.pkgd.min.js"></script>

<script>
var scene, camera, renderer, clock, deltaTime, totalTime
var arToolkitSource, arToolkitContext
var markerRoot1
var mesh1

function initialize () {
  scene = new THREE.Scene()
  totalTime = totalTime + 0
  let ambientLight = new THREE.AmbientLight(0xcccccc, 0.5)
  scene.add(ambientLight)
  camera = new THREE.Camera()
  scene.add(camera)
  renderer = new THREE.WebGLRenderer({
    antialias: true,
    alpha: true
  })
  renderer.setClearColor(new THREE.Color('lightgrey'), 0)
  renderer.setSize(640, 480)
  renderer.domElement.style.position = 'absolute'
  renderer.domElement.style.top = '0px'
  renderer.domElement.style.left = '0px'
  renderer.domElement.style.zIndex  = '-1'
  document.body.appendChild(renderer.domElement)

  clock = new THREE.Clock()
  deltaTime = 0
  totalTime = 0

  /// /////////////////////////////////////////////////////////
  // setup arToolkitSource
  /// /////////////////////////////////////////////////////////

  arToolkitSource = new THREEx.ArToolkitSource({
    sourceType: 'webcam'
  })

  function onResize () {
    arToolkitSource.onResize()
    arToolkitSource.copySizeTo(renderer.domElement)
    if (arToolkitContext.arController !== null) {
      arToolkitSource.copySizeTo(arToolkitContext.arController.canvas)
    }
  }

  arToolkitSource.init(function onReady () {
    onResize()
  })

  // handle resize event
  window.addEventListener('resize', function () {
    onResize()
  })

  /// /////////////////////////////////////////////////////////
  // setup arToolkitContext
  /// /////////////////////////////////////////////////////////

  // create atToolkitContext
  arToolkitContext = new THREEx.ArToolkitContext({
    cameraParametersUrl:
      '../statics/assets/libs/ar_video/patterns_data/camera_para.dat',
    detectionMode: 'mono'
  })

  // copy projection matrix to camera when initialization complete
  arToolkitContext.init(function onCompleted () {
    camera.projectionMatrix.copy(arToolkitContext.getProjectionMatrix())
  })

  markerRoot1 = new THREE.Group()
  scene.add(markerRoot1)
  let markerControls1 = new THREEx.ArMarkerControls(
    arToolkitContext,
    markerRoot1,
    {
      type: 'pattern',
      patternUrl: '../statics/assets/libs/ar_video/patterns_data/pattern-cocacola3.patt'
    }
  )

  let geometry1 = new THREE.PlaneBufferGeometry(2, 2, 4, 4)

  let video = document.getElementById('video')
  let texture = new THREE.VideoTexture(video)
  texture.minFilter = THREE.LinearFilter
  texture.magFilter = THREE.LinearFilter
  texture.format = THREE.RGBFormat
  let material1 = new THREE.MeshBasicMaterial({ map: texture })

  mesh1 = new THREE.Mesh(geometry1, material1)
  mesh1.rotation.x = -Math.PI / 2
  markerRoot1.add(mesh1)
}

function update () {
  if(arToolkitSource!=null){
    // update artoolkit on every frame
    if (arToolkitSource.ready !== false) {
      arToolkitContext.update(arToolkitSource.domElement)
    }
  }
}

function render () {
  if(renderer!=null){
    renderer.render(scene, camera)
  }
}

function animate () {
  requestAnimationFrame(animate)
  deltaTime = clock.getDelta()
  totalTime += deltaTime
  update();
  render();
}

export default {
  name: 'beverages',
  data() {
    return {
      ar_mode:false
      }
  },
  methods: {
    //use camera to scan AR object and init the scene
    ScanWithCamera: function () {
      if(!this.ar_mode){//only run if not already an instance
        this.ar_mode=true;
        initialize();
        animate();
        document.getElementById("video").play();
      }
    },
    //close the ar and return to the normal diplay
    //destroy the ar objects
    CloseAR: function() {
      //stop the video and clear all the variables
      document.getElementById("video").pause();
      //video.currentTime = 0;
      arToolkitSource.close()//stop the video stream and remove the dom element
      while(scene.children.length > 0){
          console.log(scene.children[0])
          scene.remove(scene.children[0]);
      }
      scene.remove.apply(scene, scene.children)
      renderer.dispose()
      scene.remove(camera)
      markerRoot1.remove(mesh1)
      scene.remove(markerRoot1)
      document.body.removeChild(renderer.domElement)
      scene=null
      camera=null
      renderer=null
      clock==null
      deltaTime=null
      totalTime=null
      arToolkitSource=null
      arToolkitContext=null
      markerRoot1=null
      mesh1=null
      this.ar_mode=false;
      this.initMasonry()
    },
    //init the masonry for the adverts
    initMasonry: function () {
      imagesLoaded('.grid', function() {
          var elem = document.querySelector('.grid');
          var msnry = new Masonry( elem, {
          // options
          itemSelector: '.grid-item',
          columnWidth: 100,
          gutter:0,
          horizontalOrder: false,
          percentPosition: true,
          originTop: false,
          stagger: 30
        });
      });
    }
  },
  mounted: function () {
    this.initMasonry()
  },
}
</script>
