<template>
  <q-page class="flex flex-center">
    <table>
    <tr>
      <td>
      <video id="video" style="width:100%;height:auto;" autoplay muted></video>
      <!--<video id="video" width="200" height="100" autoplay muted></video>-->
    </td>
    </tr>
    <tr>
      <td>
    <table>
      <tr>
        <td colspan="2">Face Scan results</td>
      </tr>
      <tr>
        <td>Age</td><td id='age'>{{age}}</td>
      </tr>
      <tr>
        <td>Gender</td><td id='gender'>{{gender}}</td>
      </tr>
      <tr>
        <td>Expression</td><td id='expression'>{{expression}}</td>
      </tr>
    </table>
  </td>
</tr>
</table>
  </q-page>
</template>

 <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;
    }

    canvas {
      position: absolute;
      height: 560px;
      width:100%;
      top:0;
      left:0;
    }
  </style>
<!--faceapi-->
<script src='/statics/assets/libs/face_scan/face-api.min.js'></script>

<script>

  Vue.prototype.$video;

</script>

<script>
export default {
  name: 'faceScan',
  data() {
    return {
          age:null,
          gender:null,
          expression:null,
          busy:false
      }
  },
  methods: {
    loadModels: async function(){
      console.log("loadmodels");
      await faceapi.nets.tinyFaceDetector.loadFromUri('/statics/assets/libs/face_scan/models');
      await faceapi.nets.faceLandmark68Net.loadFromUri('/statics/assets/libs/face_scan/models');
      await faceapi.nets.faceRecognitionNet.loadFromUri('/statics/assets/libs/face_scan/models');
      await faceapi.nets.faceExpressionNet.loadFromUri('/statics/assets/libs/face_scan/models');
      await faceapi.nets.ageGenderNet.loadFromUri('/statics/assets/libs/face_scan/models');
      this.startVideo();
    },
    startVideo: function() {
        console.log("startvideo")
        navigator.getUserMedia(
          { video: {} },
          stream => this.$video.srcObject = stream,
          err => console.error(err)
        )
    },
    addListener: function()
    {
        var _this=this
        console.log('listner added ,'+ this.$video)
        this.$video.addEventListener('play', () => {
                      console.log("video is playing");
                      const canvas = faceapi.createCanvasFromMedia(_this.$video)
                      console.log(1)
                      document.body.append(canvas)
                      console.log(2)
                      console.log(_this.$video.videoWidth)
                      console.log(_this.$video.videoHeight)
                      const displaySize = { width: _this.$video.videoWidth, height: _this.$video.videoHeight }
                      console.log(3)
                      faceapi.matchDimensions(canvas, displaySize)
                      console.log(4)
                      //interval
                       setInterval(async () => {
                        console.log("busy, "+this.busy )
                        if(this.busy)return;
                        this.busy=true;
                        const detections = await faceapi.detectAllFaces(_this.$video, new faceapi.TinyFaceDetectorOptions())
                        //.withFaceLandmarks()
                        .withFaceExpressions()
                        .withAgeAndGender()

                        const resizedDetections = faceapi.resizeResults(detections, displaySize)
                        canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height)
                        faceapi.draw.drawDetections(canvas, resizedDetections)
                        //faceapi.draw.drawFaceLandmarks(canvas, resizedDetections)
                        //faceapi.draw.drawFaceExpressions(canvas, resizedDetections)

                        console.log("detections");
                        console.log(detections);
                        if(detections.length>0){
                          var _age=detections[0].age.toFixed(0);
                          this.age=_age;
                          this.gender=detections[0].gender;

                          //begin with the first value
                          var detected_expression = 'angry';
                          var detected_expression_value = detections[0].expressions.angry;
                          //
                          if(detections[0].expressions.disgusted>detected_expression_value)
                          {
                            detected_expression_value=detections[0].expressions.disgusted;
                            this.expression = 'disgusted';
                          }
                          //
                          if(detections[0].expressions.fearful>detected_expression_value)
                          {
                            detected_expression_value=detections[0].expressions.fearful;
                            this.expression = 'fearful';
                          }
                          //
                          if(detections[0].expressions.happy>detected_expression_value)
                          {
                            detected_expression_value=detections[0].expressions.happy;
                            this.expression = 'happy';
                          }
                          //
                          if(detections[0].expressions.neutral>detected_expression_value)
                          {
                            detected_expression_value=detections[0].expressions.neutral;
                            this.expression = 'neutral';
                          }
                          //
                          if(detections[0].expressions.sad>detected_expression_value)
                          {
                            detected_expression_value=detections[0].expressions.sad;
                            this.expression = 'sad';
                          }
                          //
                          if(detections[0].expressions.surprised>detected_expression_value)
                          {
                            detected_expression_value=detections[0].expressions.surprised;
                            this.expression = 'surprised';
                          }

                        }
                        this.busy=false;
                        console.log("hassan")
                      }, 100)
                    })

    }

  },
  mounted: function(){
    this.$video=document.getElementById('video')
    this.loadModels()
    console.log("mounted")
    console.log("video")
    console.log(this.$video)
    //add listner
    this.addListener()
  }
}
</script>
