<!DOCTYPE html>
<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.productName %>
    </title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
    <!--ar_video-->
    <script src='/statics/assets/libs/ar_video/three.js'></script>
    <!-- include jsartookit -->
    <script src="/statics/assets/libs/ar_video/artoolkit.min.js"></script>
    <script src="/statics/assets/libs/ar_video/artoolkit.api.js"></script>
    <!-- include threex.artoolkit -->
    <script src="/statics/assets/libs/ar_video/threex-artoolkitsource.js"></script>
    <script src="/statics/assets/libs/ar_video/threex-artoolkitcontext.js"></script>
    <script src="/statics/assets/libs/ar_video/threex-arbasecontrols.js"></script>
    <script src="/statics/assets/libs/ar_video/threex-armarkercontrols.js"></script>
    <!--masonry-->
    <script src="/statics/assets/libs/masonry/masonry.pkgd.min.js"></script>
    <!--imagesLoaded-->
    <script src="/statics/assets/libs/imagesLoaded/imagesloaded.pkgd.min.js"></script>
    <!--faceapi-->
    <script src='/statics/assets/libs/face_scan/face-api.min.js'></script>

</head>

<body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
</body>

</html>