<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />
        <q-toolbar-title>
          Rogue App
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item v-for="item in links"  :key="item.name" clickable tag="a" :to="item.link">
          <q-item-section avatar>
            <q-icon :name="item.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{item.name}}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MyLayout',

  data () {
    return {
      leftDrawerOpen: false,
      links: [
        { icon: 'book', name: 'alphabet', link: '/alphabet' },
        { icon: 'blur_on', name: 'numbers', link: '/numbers' },
        { icon: 'all_inclusive', name: 'chemistry', link: '/chemistry' },
        { icon: 'local_drink', name: 'beverages', link: '/beverages' },
        { icon: 'face', name: 'faceScan', link: '/faceScan' },
        { icon: 'fastfood', name: 'food', link: '/' },
        { icon: 'accessibility', name: 'clothes', link: '/' },
        { icon: 'streetview', name: 'shoes', link: '/' },
        { icon: 'place', name: 'places', link: '/' },
        { icon: 'healing', name: 'health', link: '/' },
        { icon: 'pets', name: 'animals', link: '/' },
        { icon: 'weekend', name: 'furniture', link: '/' },
        { icon: 'home', name: 'homes', link: '/' },
        { icon: 'directions', name: 'directions', link: '/' },
        { icon: 'local_airport', name: 'airport', link: '/' },
        { icon: 'directions_car', name: 'cars', link: '/' },
        { icon: 'people', name: 'events', link: '/' },
        { icon: 'music_video', name: 'music', link: '/' },
        { icon: 'desktop_mac', name: 'gadgets', link: '/' },
        { icon: 'monochrome_photos', name: 'photos', link: '/' },
        { icon: 'attach_money', name: 'money', link: '/' },
        { icon: 'textsms', name: 'airtime', link: '/' }
      ]
    }
  }
}
</script>
